/***********************************************************************************************************************/
/*******************************************   ESTILO GENERAL DE LA PAGINA   *******************************************/
/***********************************************************************************************************************/

body{
	/*font-family: Geneva,Tahoma,Verdana,sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	background-color: #F8F8F8;
	overflow: hidden;
}

.wrap{
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.header{
	display: block;
	width: 100%;
	height: 120px;
	background-color: #303E49;
}

.logo{
	position: relative;
	float: right;
	display: block;
	margin: 0px;
	padding: 10px 10px;
	height: 100px;
	width: 100px;
}

div.logo h1{
	margin: 0;
	padding: 0;
}

div.header div.logo h1 a.image{
	height : 100px;
	width : 100px;
	background-image: url("../Resources/logo1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
	text-indent: -10000px;
	display: block;
}

.menu{
	position: relative;
	height: 100px;
	margin: 0px;
	padding: 10px 10px;	
	width: 380px;
	font-size : 0;
	float: left;
}

.menu>a>div{
	text-align: center;
	color: #F2F2F2;
	font-family: 'Maven Pro', sans-serif;
	font-size : 1.1rem;
	margin : 5px;
	padding: 10px 5px;
	height: 70px;
	width: 100px;
	line-height: 70px;
	display: inline-block;
}

.menu>a>div:hover{
	background-color : #ddd;
	color : #333;
}

.header .titulo{
	display: block;
	float:right;
	height: 120px;
	text-align: center;
	line-height: 120px;
	color: #F2F2F2;
	font-size: 36px;
	font-family: 'Lobster', cursive;
	padding-right: 40px;
}

.content{
	height: 500px;
	margin: 0px;
	padding: 0px;
	background-color: #F8F8F8;
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
}

.button{
	padding: 10px 20px;
	font-size : 0.8rem;
	text-decoration : none;
	border: 1px solid #ddd;	
	margin : 5px;
	outline : none;
	background-color : #ddd;
	color : #333;
	font-weight: bold;
	cursor : pointer;
	font-family: Geneva,Tahoma,Verdana,sans-serif;
}

.button:hover{
	background-color: #303E49;
	color: #F2F2F2;
}

.button:focus{
	border: 1px solid #303E49;	
}

.buttonContainer{
	margin-top: 10px;
	text-align: center;
}

.spanError{
	background-color: #DD4B39;
	color: white;
	padding: 3px 6px;
	margin-top: 3px;
	border-radius: 4px;
	font-family: Consolas,monaco,monospace;
	display: inline-block;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.MainCaption{
	background-color: #446e89;
	color: #F2F2F2;
	font-family: 'Bree Serif', serif;
	font-size: 1.6rem;
	padding: 15px;
}

.MainTable{
	width: 97%;
	margin: 15px auto;
	border-collapse: collapse;
	text-align: center;
}

.MainHead th{
	background-color: #446e89;
	padding: 10px 20px;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 1rem;
	color: #F2F2F2;
}

.MainTable td{
	padding: 3px;
	font-weight: bold;
	font-size: 0.9rem;
	background-color: #DDD;
}

.MainBody td:nth-child(6){
	max-width: 150px;
}

.SubTable td:nth-child(6){
	width: auto;
}

.SubTable td:nth-child(7){
	max-width: 150px;
}

.MainBody{
	background-color: #FFF;
}

.SubTable{
	width: 99%;
	margin: 0px auto;
	border-collapse: collapse;
}

.SubTable td{
	font-weight: normal;
	padding: 3px;
	background-color: #FFF;
}

.SubHead{
	background-color: #FFF;
}

.SubHead th{
	background-color: #EEFFBB;
	padding: 6px 20px;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 0.9rem;
	color: #a8641f;
}

#btnModificar, #btnEliminar, #btnNuevoProyecto, #btnNuevaTarea{
	font-size: 1rem;
	margin: 2px;
	color: #303E49;
}

#btnNuevoProyecto{
	font-size: 1.3rem;
	color: #F2F2F2;
}

#btnNuevaTarea{
	font-size: 1.2rem;
	color: #a8641f;
}

.content .loginInput{
	text-align: right;
	margin-top: 5px;
	margin-right: 500px;
}

.content .loginInput input, .content .loginInput textarea, .content .loginInput select{
	width: 300px;
}

.content .loginInput textarea{
	vertical-align: top;
}

/************************************************************************************************************************/
/*************************************************   ESTILOS DE LOGIN   *************************************************/
/************************************************************************************************************************/

.loginView{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 370px;
	width: 500px;
	text-align: center;
	margin-top: -175px;
	margin-left: -250px;
	background-color: #303E49;
	box-shadow: 0px 0px 15px 0px rgba(0, 3, 51, 0.1);
}

div.loginView div.loginForm{
	position: relative;
	margin-top: 50px;
	height: 313px;
	width: 500px;
	background-color: #FFF;
	border-top-style: solid;
	border-top-width: 7px;
	border-top-color: #C3C3C3;
}

div.loginView div.loginForm div.loginContent{
	position: relative;
	height: 313px;
	width: 500px;
}

div.loginView div.loginForm div.loginContent div.logo{
	padding: 0px;
	margin-top: 15px;
	height: 120px;
	width: 500px;
	text-align: center;
	display: block;
}

div.loginView div.loginForm div.loginContent div.logo h1{
	width: 120px;
	display : inline-block;
}

div.loginView div.loginForm div.loginContent div.logo a.image{
	height : 120px;
	width : 120px;
	background-image: url("../Resources/logo1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 130%;
	text-indent: -10000px;
	display: block;
}

div.loginView div.loginForm div.loginContent div.loginInput{
	position: relative;
	width: 500px;
	padding-top: 10px;
	clear: both;
	text-align: right;
}

div.loginView div.loginForm div.loginContent div.loginInput>input, div.loginView div.loginForm div.loginContent div.loginInput>select{
	position: relative;
	margin-right: 120px;
}

.loginView #tituloPrincipal{
	float: left;
	display: block;
	width: 500px;
	height: 50px;
	margin: 0px auto;
	text-align: center;
	line-height: 50px;
	color: #F2F2F2;
	font-size: 28px;
	font-family: 'Lobster', cursive;
}

/***********************************************************************************************************************/
/***********************************************   ESTILOS FORMULARIOS   ***********************************************/
/***********************************************************************************************************************/

input[type="text"], input[type="password"], input[type="date"], input[type="email"], select, textarea{
	resize: none;
	font-size: 14px;
	appearance: none;
	border-radius: 3px;
	border: solid 1px #dcdcdc;
	padding: 8px 12px;
	width: 180px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="email"]:focus, select:focus, textarea:focus{
	outline: none;
	border: solid 1px #dcdcdc;
	box-shadow: 0 0 3px 1px #303E49;
}

select{
	width: 207px;
}

progress[value] {
	cursor: pointer;
	border: none;
}